/* ====== RESUME ====== */
.resume-header {
  margin-bottom: 40px;
}

.resume-photo {
  float: right;
  width: 120px;
  max-width: 40%;
  aspect-ratio: 13 / 17;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid var(--b2);
  margin: -20px 0 0px 0px; /* отступы от текста */
}

.resume-subtitle {
  margin-top: 4px;
  font-size: 14px;
  color: var(--tx2);
  padding-right: 160px;
}

.skills-list li {
  margin-bottom: 6px;
  line-height: 1.4;
}

.resume-page {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
}

.resume-card {
  max-width: 800px;
  width: 100%;
  background: var(--b1);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid var(--b2);
  box-shadow: var(--sh);
  position: relative;
}

.resume-card h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.resume-block {
  margin-bottom: 20px;
  padding-bottom: 20px; 
  border-bottom: 1px solid var(--b2);
}

.resume-block h2 {
  margin-bottom: 8px;
  font-size: 20px;
}

.resume-block ul {
  padding-left: 18px;
}

.resume-block:last-child { 
  border-bottom: none; 
  padding-bottom: 0; 
}