/* ====== UNITY ====== */
.unity-page {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
}

.unity-card {
  max-width: 1000px;
  width: 100%;
  background: var(--b1);
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--b2);
  box-shadow: var(--sh);
}

.unity-container {
  width: 100%;
  /* max-width: 960px; ширина игры по стилю canvas */
  margin: 0 auto;
  background: var(--b1);
  border-radius: 20px;
  border: 1px solid var(--b2);
  box-shadow: var(--sh);
  overflow: hidden;
}

.unity-scaler {
  position: relative;
  width: 100%;
  padding: 660px 0px 0px 0px;  /*пропорции canvas: 600px / 960px */

}

.unity-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


.unity-note {
  margin-top: 12px;
  font-size: 14px;
  color: var(--tx2);
  text-align: center;
}